button {
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button.primary, input[type=button].primary {
    background: var(--main-accent-color);
    color: white;
    border: 0;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.1s;

    &:active {
        filter: brightness(90%);
    }
}

button.plain {
    background: var(--background-lighten-weak);
    color: var(--primary-text-color);
    backdrop-filter: blur(16px);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    box-shadow: 0 0 8px 0 var(--shadow-color);
    transition: all 0.1s;

    &:hover {
        background: var(--background-lighten-medium);
    }

    &:active {
        filter: brightness(80%);
    }
}

button.tab {
    background: none;
    color: var(--primary-text-color);
    border: 1px solid transparent;
    border-radius: 16px;
    text-align: start;
    transition: background 0.1s cubic-bezier(.24,.02,.14,.98);
    
    &:hover {
        background: var(--background-lighten-weak);
    }
    
    &:active {
        transform: scale(1.1);
        transition: transform 0.1s cubic-bezier(.24,.02,.14,.98);
    }

    &>i {
        margin-right: 8px;
        color: var(--main-accent-color)
    }
}

button.tab.active {
    background: var(--main-accent-color);
    color: white;
    border: 1px solid var(--border-color);
    animation: spring 0.4s cubic-bezier(.24,.02,.14,.98);

    &>i {
        color: white;
    }
}

@keyframes spring {
    0%   { transform: scale(1.1); }
    100% { transform: scale(1); }
}
