<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin Die SNA</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/2.0.0-alpha/leaflet.css"
        integrity="sha512-LPN9LDgfRWOAI5NzflmV0UmS9D2rz1/LVMX9uv1CJXmVopPOuoHtimoYHTI6XEfO0Ck2sUZzsv2/F7HroX5i6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/2.0.0-alpha/leaflet-global.js"
        integrity="sha512-hmPv7CCD+5RTbt5vJM/c+Myjwc26rnmEOsOoFT0Re9tcohWwR96Yg7k9fJnYkcEouCTDFLG44WouAqiLcHlk5Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body class="white">
    <div>
        <div id="main-pages">
            <div id="graph-container" style="height: 100vh; width: 100%; z-index: 1; display: none;"></div>
            <div id="map-container" style="height: 100vh; width: 100%; z-index: 2;"></div>
            <div id="analysis-data-container"
                style="height: 100vh; width: 100%; z-index: 1; padding: 64px 32px 32px 32px; overflow: scroll; display: none;">
                <div class="flex" style="justify-content: space-between;">
                    <h2 style="margin-bottom: 8px;">Analysis Data</h2>
                    <div>
                        <i class="fa-solid fa-spinner fa-spin" id="sna-spinner" style="display: none;"></i>
                        <i class="fa-solid fa-check" id="sna-check" style="display: none;"></i>
                        <button class="primary" id="start-sna">Start SNA Pipeline</button>
                    </div>
                </div>
                <p>
                    Coin die data is expected to be in form of a json file containing coin id and die id (string or
                    numeric) as key value pairs, e.g. {"coinid2372": "die25", ...}. Select which one should be used as
                    reverse and obverse. For evaluation with the manual die study, the reverse dataset should contain
                    "reverse" in the name. Click on any entry to see the coins per die distribution.
                </p>
                <div id="analysis-list" class="list">

                </div>
            </div>
        </div>

        <div id="tabbar-container" class="flex">
            <div id="tabbar-header" class="flex">
                <img src="{{ url_for('static', filename='logo.png') }}">
                <h2>Coin Die SNA</h2>
            </div>
            <div id="tabbar">
                <div class="flex">
                    <button class="tab" id="force-graph-btn"><i class="fa-solid fa-circle-nodes"></i>Force
                        Graph</button>
                    <button class="tab active" id="map-graph-btn"><i class="fa-solid fa-map-location-dot"></i></i>Map
                        View</button>
                    <button class="tab" id="analysis-data-btn"><i class="fa-solid fa-database"></i>Die Data</button>
                    <div>
                        <button class="plain" id="appearance" style="width: 32px; padding: 6px"><i
                                class="fa-regular fa-moon"></i></button>
                    </div>
                </div>
            </div>
            <div id="toolbar">
                <div class="flex" style="align-items: center;">
                    <div style="padding: 0 4px; position: relative;">
                        <select id="avrvfilter" name="avrvfilter" style="width: 80px;">
                            <option value="">Av + Rv</option>
                            <option value="a">Av</option>
                            <option value="r">Rv</option>
                        </select>
                        <i class="fa-solid fa-chevron-down" style="position: absolute; right: 16px; top: 6px; pointer-events: none;"></i>
                    </div>
                    <div style="height: 32px; padding: 0 8px;">
                        <div class="flex" style="font-size: 10px; justify-content: space-around; line-height: 1;">
                            <label>X</label>
                            <label>A</label>
                            <label>B</label>
                            <label>C</label>
                            <label>D</label>
                            <label>E</label>
                            <label>F</label>
                            <label>G</label>
                            <label>H</label>
                            <label>P</label>
                            <label>U</label>
                        </div>
                        <div>
                            <input type="range" id="time-control" name="time" list="times" min="0" max="10" step="1"
                                value="0" style="width: 200px;">
                            <datalist id="times">
                                <option value="0" label="X"></option>
                                <option value="1" label="A"></option>
                                <option value="2" label="B"></option>
                                <option value="3" label="C"></option>
                                <option value="4" label="D"></option>
                                <option value="5" label="E"></option>
                                <option value="6" label="F"></option>
                                <option value="7" label="G"></option>
                                <option value="8" label="H"></option>
                                <option value="9" label="Prot"></option>
                                <option value="10" label="undefined"></option>
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="inspector-container" style="display: none;">
            <div id="inspector">
                <div class="flex">
                    <div id="inspector-header" class="flex">
                        <h2 id="inspector-heading">Inspector</h2>
                        <button class="plain" id="close-inspector" style="padding: 6px; width: 32px; height: 32px;">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                    <div id="inspector-body">
                        <div id="sna-section"></div>
                        <div id="coin-section"></div>
                        <div id="inspector-comparison-heading">
                            <h3 style="margin: 8px 0">Image Matching</h3>
                            <p style="margin-top: 0;">Select two coins from above to see XFeat Matching as used in
                                Auto-Die-Studies.</p>
                        </div>
                        <div id="inspector-comparison"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>