<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin Die SNA</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <div>
        <div id="main-pages">
            <div id="graph-container" style="height: 100vh; width: 100%; z-index: 1;"></div>
            <div id="analysis-data-container" style="height: 100vh; width: 100%; z-index: 1; padding: 64px 32px 32px 32px; overflow: scroll; display: none;">
                <h2 style="margin-bottom: 8px;">Analysis Data</h2>
                <p>
                    Coin die data is expected to be in form of a json file containing coin id and die id (string or numeric) as key value pairs, e.g. {"coind2372": "die25", ...}. Select which one should be used as reverse and obverse.
                </p>
                <div id="analysis-list" class="list">

                </div>
            </div>
        </div>

        <div id="tabbar-container" class="flex">
            <div id="tabbar-header">
                <h2>Coin Die SNA</h2>
            </div>
            <div id="tabbar">
                <div class="flex">
                    <button class="tab active"><i class="fa-solid fa-circle-nodes"></i>Force Graph</button>
                    <button class="tab"><i class="fa-solid fa-map-location-dot"></i></i>Map View</button>
                    <button class="tab"><i class="fa-solid fa-chart-pie"></i>Statistics</button>
                    <button class="tab" id="analysis-data-btn"><i class="fa-solid fa-database"></i>Die Data</button>
                    <div>
                        <button class="plain" id="appearance" style="width: 32px; padding: 6px"><i class="fa-regular fa-sun"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div id="inspector-container" style="display: none;">
            <div id="inspector">
                <div class="flex">
                    <div id="inspector-header" class="flex">
                        <h2 id="inspector-heading">Inspector</h2>
                        <button class="plain" id="close-inspector" style="padding: 6px; width: 32px; height: 32px;">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                    <div id="inspector-body">
                        <div id="coin-section"></div>
                        <div><h3 style="margin: 8px 0">Image Matching</h3></div>
                        <div id="inspector-comparison" style="margin-bottom: 16px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
